:root {
    --negro: #393939;
    --blanco: white;
    --tipo-principal: 'Playfair Display', serif;
    --tipo-secundaria: Verdana;
    --limite:120em;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

*::before,
*::after {
    display: block;
}

img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    appearance: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
    font-size: 100%;
    background-image: radial-gradient(hsla(0, 0%, 58%, .3) .0625rem, transparent 0);
    background-size: 1.25rem 1.25rem;
    font-family: var(--tipo-principal);
    color: var(--blanco);
    hyphens: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;
}

.bg-primary-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(9 14 22/var(--tw-bg-opacity));
}

/** HEADER */
.header {
    width: calc(100% - 2em);
    max-width: var(--limite);
    margin: 1em auto;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(0.2rem);
    z-index: 10;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 2em;
    border: .125rem solid rgba(255, 255, 255, .063);

}

.header .a .img {
    width: 4.5em;
}

.header .nav {
    margin: 0 1em;
}

.header .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2em;
    letter-spacing: .0313rem;
}

.header .li {
    margin: 0 1em;
}

.header .li .a {
    color: rgba(255, 255, 255, .5);
}

.header .li .a::after {
    content: '';
    display: absolute;
    width: 0;
    height: .2rem;
    background: rgba(255, 255, 255, .5);
    transition: width .3s;
}

.header .li .a:hover {
    color: white;
}

.header .li .a:hover::after {
    width: 100%;
    background: #89fd04fa;
}

/** MAIN - SECCION */
.main {
    margin: 0 0 1em;
    text-align: center;
    position: relative;
    z-index: 2;
}

.seccion {
    width: 100%;
    min-height: 80vh;
    /* padding: 1em; */

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/** SECCION: INFO - PROYECTS - SKILLS*/
.seccion .info{
    /* padding-top: 6.25rem; */
    animation: aparecer1 2s ease 1 both;
}

.seccion .h2 {
    font-family: var(--tipo-principal);
    font-size: 5em;
    font-weight: 600;
    line-height: 1em;
    mix-blend-mode: exclusion;
    margin: 1rem;
}

.seccion .h3 {
    font-family: var(--tipo-principal);
    font-size: 4em;
    font-style: italic;
    color: #89fd04fa;
    margin: 1rem;
}

.seccion .ul {
    margin: 3em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.seccion .ul .li {
    margin: 1em;
}

.seccion .ul .a {
    border: .125rem solid var(--negro);
    border-radius: 1em;
    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease;
    animation: aparecer1 2s ease 1 backwards;
}

.seccion .ul>:nth-of-type(2) .a {
    animation-delay: .2s;
}

.seccion .ul .a:hover {
    border-color: #89fd04fa;
}

.seccion .p {
    font-size: 1.5em;
    margin: 1em;
}

.works .h2 {
    margin: 1rem;
    color: #63fd048d;
}

.seccion .grid {
    width: 90%;
    max-width: 40em;
    padding: 2em;
    margin: 1em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1em;

    border-radius: 1em;
    background: rgba(0, 0, 0, 0.214);
    border: 2px solid rgba(255,255,255,.063);
}

.seccion .article {
    width: 100%;
    min-height: 20vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    border-radius: 1em;
    object-fit: cover;
}

.seccion .article .div-info {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(1rem);
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color: white;

    opacity: 0;
    transform: translateZ(1) scale(1.2);
    transition: all .5s ease;
}

.seccion .article:hover .div-info {
    opacity: 1;
    transform: translateZ(1) scale(1);
}

.seccion .div-info .h4 {
    font-size: 1.3em;
    font-weight: 600;
}

.seccion .div-info .p {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 1em;
}

.skill .h2 {
    margin: 1rem;
    color: #63fd048d;
}

.skill .skills {
    width: 90%;
    max-width: 40em;
    margin-top: 2rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    border-radius: 1em;
    background: rgba(0, 0, 0, 0.214);
    border: 2px solid rgba(255,255,255,.063);
}

.skill .svg {
    width: 3em;
    height: 3em;
    margin: 1em;
}

.skill .svg:hover {
    transform: scale(1.2);
}

/** ABOUT ME */
.about .h2 {
    margin: 1rem;
    color: #63fd048d;
}

.about .p {
    max-width: 40em;
    margin: 1em;
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
}

.about .social {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about .li {
    margin: 0 1em;
}

.about .svg {
    width: 3em;
    height: 3em;
}

.about .svg:hover {
    transform: scale(1.2);
}

/** FOOTER */
.footer {
    text-align: center;

    width: calc(100% - 2em);
    max-width: var(--limite);
    margin: 2em auto;
    padding: 2em;
    bottom: 0;
    left: 50%;
    backdrop-filter: blur(0.2rem);

    border-radius: 2em;
    border: .125rem solid rgba(255, 255, 255, .063);
}

/** CURSOR */
#cursor {
    width: 4em;
    height: 4em;
    background-color: rgba(119, 240, 5, 0.325);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
}

#cursor.mini {
    transform: scale(0.7);
}

@keyframes aparecer1 {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 375px) {
    .header {
        display: none;
    }

    .seccion .grid {
        width: 90%;
        max-width: 40em;
        padding: 1em;
    }

    .seccion .h2 {
        font-size: 3.5em;
    }

    .seccion .h3 {
        font-size: 2.5em;
    }

    .seccion .p {
        font-size: 1.2em;
    }

    .skill .h2 {
        font-size: 3em;
    }
}

@media screen and (max-width: 480px) {
    .seccion .h2 {
        font-size: 3.5em;
    }
    .seccion .h3 {
        font-size: 3em;
    }

    .seccion .p {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 768px) {
    .seccion .info{
        padding-top: 6.25rem;
    }
}
